# Ignore Python bytecode
__pycache__/
*.py[cod]

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore log files and temp files
*.log
*.tmp

# Ignore virtual environment directory
venv/
env/

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore environment files
*.env
